* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #ffffff;
  /* fondos o textos en fondos oscuros */
  --color-secundary: #0E2A47;
  /* Títulos, párrafos y bordes */
  --color-tertiary: #1B1464;
  /* para palabras claves, botones y fondos */
  --color-quaternary: #00FFE5;
  /* botones */
  --color-quinary: #EC008C;
  /* enlaces y botones */
  --color-alt: #f0f3f4;
  /* alternativo */
}

body {
  background-color: var(--color-primary);
}

header.header-container,
main.main-container,
footer.footer-container {
  width: 100%;
  border-style: groove;
  border-width: thin;
}

header.header-container,
main.main-container {
  margin-bottom: 10px;
}

header.header-container,
footer.footer-container {
  background-color: var(--color-tertiary);
}

main.main-container {
  border: 1px solid transparent;
}

header.header-container>div.wrapper,
main.main-container>div.wrapper,
footer.footer-container>div.wrapper {
  max-width: 96%;
  min-width: 360px;
  margin: 0 auto;
}

header.header-container>div.wrapper {
  background-color: transparent;
  margin-bottom: 20px;
}

main.main-container>div.wrapper {
  background-color: transparent;
}

main.main-container>div.wrapper>section.subcontainer {
  background-color: transparent;
  margin-bottom: 25px;
}

main.main-container>div.wrapper>section.subcontainer>header.header-subtitle,
main.main-container>div.wrapper>section.subcontainer>div.content-subcontainer,
main.main-container>div.wrapper>section.subcontainer>div.content-container {
  margin-bottom: 15px;
}

main.main-container>div.wrapper>section.subcontainer>header.header-subtitle {
  border: none;
}

main.main-container>div.wrapper>section.subcontainer>div.content-subcontainer {
  border: none;
}

main.main-container>div.wrapper>section.subcontainer>div.content-container {
  padding: 10px 20px;
  background-color: var(--color-primary);
  border-radius: 6px;
  border: 1px solid var(--color-alt);
  height: auto;
}

p.content-containertext {
  color: var(--color-tertiary);
  margin-top: 10px;
  font-weight: bold;
}

main.main-container>div.wrapper>section.subcontainer>div.content-container>div.example-container,
main.main-container>div.wrapper>section.subcontainer>div.content-container>div.links-container {
  width: 100%;
}

h1.header-title {
  color: var(--color-quinary);
  font-size: 45px;
  margin-top: 20px;
}

p.header-text,
code.header-text {
  color: var(--color-quaternary);
  font-size: 22px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 15px;
}

h2,
h3,
h4,
h5,
h6,
p,
code,
li,
a {
  color: var(--color-secundary);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  font-family: "Overpass Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

code,
a,
span,
blockquote {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

ul,
p,
blockquote {
  margin-bottom: 10px;
}

blockquote {
  color: var(--color-quaternary);
}

ul {
  padding-left: 20px;
}

li>strong>code {
  font-weight: 700;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 35px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 25px;
}

h6,
p,
li {
  font-size: 20px;
}

blockquote {
  max-width: 60%;
  min-width: 320px;
  height: auto;
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  padding: 20px;
  border-left: 8px solid var(--color-quinary);
  border-bottom-right-radius: 20px;
}

div.links-container {
  text-align: center;
}

div.links-container>a.link-theme {
  color: var(--color-tertiary);
  font-size: 30px;
  text-decoration: none;
  font-weight: normal;
}

div.links-container>a.link-theme:hover {
  color: var(--color-quinary);
  transition: all ease-in-out .3s;
  text-decoration: underline;
}

footer.footer-container>h4 {
  text-align: center;
  color: var(--color-quinary);
  padding: 20px 30px;
}

.wrapp {
  background-color: transparent;
  width: 100%;
  height: auto;
  border: none;
}

/* ejercicio 1 */
#box1 {
  text-align: center;
}

div.box-margin > span,
div.box-border>span,
div.box-padding>span,
div.box-content>span {
  display: block;
  background-color: transparent;
  margin-top: 0;
  padding: 0 0 10px 0;
  font-size: 16px;
  font-weight: 500;
  color: var(--color-tertiary);
}

div.box-margin {
  background-color: var(--color-alt);
  padding: 20px 20px 40px 20px;
  width: 100%;
  border: 2px dashed var(--color-secundary);
}

div.box-margin > div.box-border {
  background-color: azure;
  padding: 20px 20px 40px 20px;
  width: 95%;
  margin: 0 auto;
  opacity: .7;
}

div.box-margin>div.box-border >div.box-padding {
  background-color: var(--color-quaternary);
  padding: 20px 20px 40px 20px;
  width: 90%;
  margin: 0 auto;
}

div.box-content>span {
  display: block;
  width: 100%;
}

div.box-margin>div.box-border>div.box-padding>div.box-content {
  background-color: var(--color-primary);
  padding: 20px 20px 10px 20px;
  width: 80%;
  margin: 0 auto;
  border: 2px dashed var(--color-secundary);
}

/* ejericicio 2 */
#box2 {
  padding: 10px;
}

div.card {
  width: 80%;
  max-width: 420px;
  margin: 0 auto;
}

div.card > div.img-card {
  max-width: 320px;
  width: 100%;
  max-height: 150px;
  margin: 0 auto;
}

div.card>div.img-card>img {
  width: 100%;
  max-height: 150px;
  display: block;
}

div.card > div.text-card {
  max-width: 320px;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  border: 5px solid var(--color-quaternary);
}

div.card>div.text-card>p {
  background-color: transparent;
  font-size: 14px;
}

/* ejercicio 03 */
#box3 {
  background-image: url('../src/img/champions.avif');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size:cover;
  width: 100%;
  height: 700px;
}

div.content-uefa {
  background-color: transparent;
  padding: 40px 20px 20px 20px;
  max-width: 500px;
  min-height: 200px;
  max-height: 350px;
  width: 80%;
  margin: 0 auto;
}

div.content-uefa>h3,
div.content-uefa>p,
div.content-uefa>a{
  color: var(--color-alt);
  font-family: "Roboto", sans-serif;
}

div.content-uefa > h3 {
  font-size: 25px;
}

div.content-uefa>p {
  font-size: 16px;
  font-weight: 100;
}

div.content-uefa>a {
  font-size:18px;
  text-decoration: none;
  font-weight: 500;
}

div.content-uefa>a:hover {
  color: var(--color-quaternary);
  opacity: .7;
  transition: all ease-in .5s;
}